#background {
  width: 100%;
  height: 85vh;
}

h5 {
  font-family: "VALORANT", sans-serif;
}

.navbar-custom {
  background-color: #111823;
}

.navbar-custom a {
  color: #ffffff;
}

.navbar-custom a:hover {
  color: #ff4654;
}

.navbar-brand {
  font-family: "VALORANT", sans-serif;
}

#footer {
  border-color: #ff4654;
}
